@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

* {
  margin: 0;
  padding:0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background:linear-gradient(360deg,rgba(21, 118, 245, 0.44), rgba(52, 166, 208, 0.5));
  font-family: 'Roboto', sans-serif;
}
.app__container {
  /* Dimension */
  width: 95%;
  max-width: 767px;
  border-radius: 5px;
  /* Placement */
  margin: 2rem auto;
  /* Content placement */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  /* Colors */
  background-color: rgba(7, 230, 255, 0.076);
  box-shadow: 5px 0 15px rgba(0, 0, 0, 0.323); 
}

.title {
  margin-bottom: 2rem;
}
.form {
  display: grid;
  gap: 0.5rem;
  grid-template-columns: 5fr 2fr;
  width: 100%;
}
.form__input {
  padding: 0.5rem;
  border-radius: 5px;
  font-weight: 700;
}
.form__submit {
  background-color: rgba(61, 130, 199, 0.652);
  border: none;
  border-radius: 5px;
  font-weight: 700;
  text-transform: uppercase;
}